# IRC parameters
server = ""
port = 6667
channel = ""
nick = "jarvis"
desc = "Jarvis, au rapport !"
author = "hackEns"
password = ""

# SQL parameters
mysql = {
    "user": "",
    "password": "",
    "host": "",
    "database": "",
    "raise_on_warnings": True,
    "autocommit": True
}

# Shaarli
shaarli_url = ""
shaarli_token = ""

# Stream parameters
stream_server = ""
stream_port = ""
stream_pass = ""
stream_mount = ""
stream_name = ""
stream_desc = ""
stream_url = ""
stream_genre = ""
oggfwd_path = ""

# Controller : "raspi" or "arduino". Specify wether everything is on the raspi or if there is an external micro-controller.
controller = "raspi"

# Arduino parameters
cam_path = "/dev/ttyACM0"
atx_path = cam_path
lum_path = "/dev/ttyUSB0"

# Access control
authorized = []
authorized_queries = []
admins = []

# Log
log_cache_size = 200 # Number of lines that log instruction can access
log_save_buffer_size = 200 # Buffer size to save cache on disk
log_file = "jarvis.log"
log_all_file = "jarvis.all.log"

# Misc
history_length = 1000
history_no_doublons = True
history_lines_to_show = 5
emails_sender = "user@example.org"
debug = False
